@import "tailwindcss";

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

/* Fix para iOS Safari */
@supports (-webkit-touch-callout: none) {
  body {
    background-attachment: scroll !important;
  }
}
