---
import WhatsappIcon from "./icons/WhatsappIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import DiamondIcon from "./icons/DiamondIcon.astro";

import { useTranslations } from "../i18n/util";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const t = useTranslations(currentLang as keyof typeof languageList);

// Ruta dinámica para membresía según idioma
const membresiaLink = currentLang === "pt" ? "/pt/membresia" : "/membresia";
---

<footer class="bg-gradient-to-t from-[#15011c] to-transparent text-gray-200">
  <div class="max-w-6xl mx-auto px-6 py-10">
    <!-- Contenedor flexible -->
    <div class="flex flex-col items-center md:justify-between md:items-center gap-6">
      
      <!-- Logo -->
      <div>
        <img
          src="/logos/textLogo.webp"
          alt="Diego Molina Logo"
          class="h-9 mx-auto md:mx-0"
        />
      </div>

      <!-- Redes -->
      <div class="flex justify-center space-x-6 text-xl">
        <a
          href="https://wa.me/+5492616331357"
          target="_blank"
          class="hover:text-[#00ff7f]"
          aria-label="Whatsapp"
        >
          <WhatsappIcon />
        </a>
        <a
          href={membresiaLink}
          class="hover:text-[#00ff7f]"
          aria-label={t("footer.membresia") || "Membresía"}
        >
          <DiamondIcon />
        </a>        
        <a
          href="https://www.instagram.com/diegomolina.ar"
          target="_blank"
          class="hover:text-[#00ff7f]"
          aria-label="Instagram"
        >
          <InstagramIcon />
        </a>
      </div>

      <!-- Copyright -->
      <p set:html={t("footer.text")}></p>
    </div>
  </div>
</footer>
