---
import WhatsappIcon from "./icons/WhatsappIcon.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import DiamondIcon from "./icons/DiamondIcon.astro";
---

<footer class="bg-gradient-to-t from-[#15011c] to-transparent text-gray-200">
  <div class="max-w-6xl mx-auto px-6 py-10 text-center">
    <!-- Logo -->
    <div class="mb-4">
      <img
        src="/logos/textLogo.webp"
        alt="Diego Molina Logo"
        class="h-9 mx-auto"
      />
    </div>

    <!-- Redes -->
    <div class="flex justify-center space-x-6 mb-6 text-xl">
      <a
        href="https://wa.me/+5492616331357"
        target="_blank"
        class="hover:text-[#00ff7f]"
        aria-label="Facebook"
      >
        <WhatsappIcon />
      </a>
      <a
        href="https://www.instagram.com/diegomolina.ar"
        target="_blank"
        class="hover:text-[#00ff7f]"
        aria-label="Instagram"
      >
        <InstagramIcon />
      </a>
      <a
        href="/membresia"
        target="_blank"
        class="hover:text-[#00ff7f]"
        aria-label="ExtraPage"
      >
        <DiamondIcon/>
      </a>
    </div>

    <!-- Copyright -->
    <p class="text-sm text-gray-200">
      © 2025 Diego Molina. Todos los derechos reservados.
    </p>
  </div>
</footer>
