---
--- 
<footer class="bg-gradient-to-t from-[#15011c] to-transparent text-gray-200">
  <div class="max-w-6xl mx-auto px-6 py-10 text-center">
    <!-- Logo -->
    <div class="mb-4 ">
      <img src="/logos/textLogo.webp" alt="Diego Molina Logo" class="h-9 mx-auto" />
    </div>

    <!-- Redes -->
    <div class="flex justify-center space-x-6 mb-6 text-xl">
      <a href="#" class="hover:text-[#00ff7f]" aria-label="Facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#" class="hover:text-[#00ff7f]" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#" class="hover:text-[#00ff7f]" aria-label="YouTube">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <!-- Copyright -->
    <p class="text-sm text-gray-200">
      © 2025 Diego Molina. Todos los derechos reservados.
    </p>
  </div>
</footer>
