<section class="relative py-16">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center px-4 gap-10 md:gap-8 pt-10">
    
    <!-- Texto -->
    <div class="z-10 text-white text-center md:text-left">
      <h1 class="text-2xl sm:text-3xl md:text-5xl lg:text-6xl font-extrabold leading-tight mb-4">
        Descubre tu oportunidad en <br />
        <span class="text-[#00ff7f]">Redes de Mercadeo</span>
      </h1>
      <p class="text-sm sm:text-base md:text-lg lg:text-xl text-gray-200 max-w-md mx-auto md:mx-0">
        <span class="text-[#00ff7f] font-semibold">Súmate a nuestro equipo</span> y comienza
        tu camino hacia una nueva experiencia de crecimiento personal y financiero.
      </p>
    </div>

    <!-- Imagen -->
    <div class="flex justify-center md:justify-end relative">
      <img 
        src="/pageImages/diegoMolinaSentado.webp" 
        alt="Diego Molina" 
        class="w-[75%] sm:w-[65%] md:w-[280px] lg:w-[320px] xl:w-[360px] 2xl:w-[400px] max-h-[480px] object-contain"
      />
    </div>
  </div>
</section>
