<section class="relative py-16">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 items-center px-4 gap-6 md:gap-8 pt-10">
    <!-- Texto -->
    <div class="z-10 text-white">
      <h1 class="text-xl md:text-5xl lg:text-6xl font-extrabold leading-15 mb-4">
        Descubre tu oportunidad en <br /> <span class="text-[#00ff7f]"> Redes de Mercadeo </span>
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-gray-200 max-w-md">
        <span class="text-[#00ff7f] font-semibold">Súmate a nuestro equipo</span> y comienza
        tu camino hacia una nueva experiencia de crecimiento personal y financiero.
      </p>
    </div>

    <!-- Imagen -->
    <div class="flex justify-center md:justify-end relative">
      <img 
        src="/pageImages/diegoMolinaSentado.webp" 
        alt="Diego Molina" 
        class="w-[70%] md:w-[280px] lg:w-[320px] xl:w-[360px] 2xl:w-[400px] max-h-[480px] object-contain"
/>
    </div>
  </div>
</section>
