---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/png" href="/logos/isotipoVerde.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Diego Molina | Redes de Mercadeo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body
    class="min-h-screen bg-[#15011c] text-white"
    style="
    background-image: 
      radial-gradient(circle at 50% 200px, #00ff7f 0%, transparent 70%),
      radial-gradient(circle at 80% 600px, rgba(255,255,255,0.2) 0%, transparent 60%),
      linear-gradient(to bottom, #15011c 0%, #000000 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  "
  >
  	<Header/>
    <slot />
	<Footer/>
  </body>
</html>

<style></style>
